/* ===THEME=== */
/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s cubic-bezier(0.15, 0.72, 0.43, 0.85);
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s cubic-bezier(0.15, 0.72, 0.43, 0.85);
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background: #ebebeb;
  font-size: 100%; }

* {
  text-rendering: optimizeLegibility; }

h1, h2, h3 {
  font-size: 2.68em;
  line-height: 1.2em;
  margin: 10px 0 40px 0;
  line-height: normal;
  white-space: normal; }

h2 {
  font-size: 1.3em;
  margin: 25px 0 25px 0; }

h3 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.5em;
  text-transform: none;
  margin: 20px 0 20px 0; }

p {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5em;
  margin: 30px 0 30px; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: #555555;
    cursor: pointer; }

.spacer, .spacer-white, .spacer-small {
  clear: both;
  margin: 120px 0;
  width: 100%;
  height: 100%; }
  .spacer p, .spacer-white p, .spacer-small p {
    max-width: 450px;
    text-align: center;
    color: #555555;
    font-size: 1em;
    font-style: italic;
    margin: 0 auto;
    padding: 70px 70px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }

.spacer-white {
  background: #fff;
  margin: 60px 0; }

.spacer-small {
  margin: 30px; }

button:focus {
  outline: 0 !important; }

/* ===COMPONENTS=== */
/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s cubic-bezier(0.15, 0.72, 0.43, 0.85);
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.contacts {
  background: #555555;
  margin-top: 100px; }
  .contacts h1, .contacts h2, .contacts h3 {
    text-align: center;
    color: #ebebeb; }
  .contacts p {
    text-align: center;
    color: #ebebeb;
    padding-bottom: 35px; }

/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s cubic-bezier(0.15, 0.72, 0.43, 0.85);
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.services {
  margin-top: 100px; }
  .services h1, .services h2, .services h3 {
    text-align: right; }
  .services h2 {
    text-align: left; }
  .services p {
    font-size: 1em; }
  .services__showcase {
    width: 100%; }
  .services__label {
    color: #ebebeb;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    padding: 35px; }
  .services__left, .services__right {
    height: 100px;
    background-color: #ebebeb;
    color: #555555;
    font-size: 4em;
    user-select: none;
    opacity: .7; }
    .services__left:hover, .services__right:hover {
      color: #fff;
      cursor: pointer;
      opacity: 1; }

/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s cubic-bezier(0.15, 0.72, 0.43, 0.85);
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.usecase {
  margin-top: 100px; }
  .usecase h1, .usecase h2, .usecase h3 {
    text-align: right; }
  .usecase h2 {
    text-align: left; }
  .usecase p {
    font-size: 1em; }
  .usecase__showcase, .services__showcase--small, .usecase__showcase--small {
    width: 100%;
    margin-bottom: 60px; }
  .usecase__text {
    margin-top: 35px; }
  .usecase__label {
    color: #ebebeb;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    padding: 35px; }
  .usecase__left, .usecase__right {
    height: 100px;
    background-color: #ebebeb;
    color: #555555;
    font-size: 4em;
    user-select: none;
    opacity: .7; }
    .usecase__left:hover, .usecase__right:hover {
      color: #fff;
      cursor: pointer;
      opacity: 1; }

/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s cubic-bezier(0.15, 0.72, 0.43, 0.85);
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.content {
  background: #fff; }

.decorPage {
  margin-top: 100px; }
  .decorPage h1, .decorPage h2, .decorPage h3 {
    text-align: right;
    margin-bottom: 100px; }
  .decorPage__item {
    border: 2px #555555 solid;
    height: 100px;
    opacity: .7;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
    font-size: 1.8em;
    vertical-align: middle;
    padding-top: 25px; }
    .decorPage__item:hover {
      cursor: pointer;
      opacity: 1; }

.decor__block p {
  font-size: 0.8em;
  margin-top: 15px; }
.decor__block--item {
  background: url("../img/decor1.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  transition: background 2s cubic-bezier(0.86, 0, 0.07, 1); }
  .decor__block--item:hover {
    cursor: pointer;
    background: url("../img/decor1.png");
    background-repeat: no-repeat; }
    .decor__block--item:hover background-color:rgba(17, 17, 17, .4)
    h2:after {
      display: block; }
  .decor__block--item h2 {
    color: #fff;
    position: absolute;
    bottom: 80px;
    left: 40px;
    font-size: 1.8em; }

/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s cubic-bezier(0.15, 0.72, 0.43, 0.85);
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.hero, .company {
  margin-top: 60px;
  height: 640px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/decor_kamin2.jpg"); }
  .hero__textblock, .company__textblock {
    background: #fff;
    margin-top: 120px;
    padding: 35px 35px 50px 35px; }
  .hero__button, .company__button {
    cursor: pointer;
    margin-top: 24px;
    padding: 20px 40px;
    background: transparent;
    color: #222222;
    border-radius: 0;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: color 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    text-transform: uppercase;
    letter-spacing: .1em;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
    .hero__button:before, .company__button:before {
      content: '';
      display: block;
      height: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background-color: #ebebeb;
      position: absolute;
      z-index: -20;
      transform: scaleY(0);
      transition: height 0.5s cubic-bezier(0.86, 0, 0.07, 1), transform 0.5s cubic-bezier(0.86, 0, 0.07, 1); }
    .hero__button:hover, .company__button:hover {
      box-shadow: none;
      color: #555555; }
      .hero__button:hover:before, .company__button:hover:before {
        transform: scaleY(1); }

.company {
  margin-top: 0;
  background: #fff; }
  .company__textblock {
    margin-top: 120px; }
  .company__image {
    overflow: hidden;
    margin-top: 120px; }

.decor__block p {
  font-size: 0.8em;
  margin-top: 15px;
  min-height: 10px; }
.decor__block--item {
  background: url("../img/decor_lestnica2.jpg") no-repeat;
  background-size: 105%;
  background-position: center center;
  height: 450px;
  transition: background 5s 0.5s cubic-bezier(0.15, 0.72, 0.43, 0.85); }
  .decor__block--item:nth-child(2) {
    background: url("../img/decor_kamin3.jpg") no-repeat; }
  .decor__block--item:nth-child(3) {
    background: url("../img/decor_lestnica2.jpg") no-repeat; }
  .decor__block--item:nth-child(4) {
    background: url("../img/decor_lestnica2.jpg") no-repeat; }
  .decor__block--item:nth-child(5) {
    background: url("../img/decor_lestnica2.jpg") no-repeat; }
  .decor__block--item:hover {
    cursor: pointer;
    background-size: 100%; }
    .decor__block--item:hover h2:after {
      display: block; }
  .decor__block--item h2 {
    color: #fff;
    position: relative;
    top: 80%;
    left: 5%;
    font-size: 1.8em; }

.services__block--item {
  background: #ebebeb url("../img/decor1.png") no-repeat;
  background-size: 150%;
  background-position: center center;
  background-origin: 10;
  height: 600px;
  transition: all 6s cubic-bezier(0.15, 0.72, 0.43, 0.85);
  margin-bottom: 40px; }
  .services__block--item:hover {
    cursor: pointer;
    background-size: 100%; }
    .services__block--item:hover h2, .services__block--item:hover p {
      opacity: 1; }
.services__block h2, .services__block p {
  transition: opacity 0.5s cubic-bezier(0.15, 0.72, 0.43, 0.85); }
.services__block h2 {
  color: #fff;
  position: absolute;
  bottom: 150px;
  left: 40px;
  font-size: 2.68em;
  opacity: 0; }
.services__block p {
  color: #fff;
  position: absolute;
  bottom: 115px;
  left: 40px;
  opacity: 0; }

.footer {
  background-color: #222222;
  color: #ebebeb;
  height: 200px; }
  .footer__info {
    padding-left: 30px; }
    .footer__info h2 {
      padding-left: 20px; }
    .footer__info ul {
      list-style: none;
      padding: 0; }
      .footer__info ul li {
        display: inline-block;
        list-style: none;
        text-transform: uppercase;
        font-weight: light;
        padding: 20px 20px 20px 20px;
        transition: padding 0.5s cubic-bezier(0.86, 0, 0.07, 1); }
        .footer__info ul li a {
          color: #555555; }
  .footer__social {
    padding-left: 30px; }
    .footer__social--link {
      padding: 0 15px 0 0; }

/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s cubic-bezier(0.15, 0.72, 0.43, 0.85);
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.navbar, .navbar-alt {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: #ebebeb;
  border: none;
  z-index: 666;
  transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1); }
  .navbar ul, .navbar-alt ul {
    list-style: none; }
    .navbar ul li, .navbar-alt ul li {
      display: inline-block;
      list-style: none;
      text-transform: uppercase;
      font-weight: light;
      animation: textup 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
      transition: padding 0.5s cubic-bezier(0.86, 0, 0.07, 1);
      position: relative;
      padding: 0 20px;
      left: -10px; }
      .navbar ul li a, .navbar-alt ul li a {
        color: #222222; }
  .navbar__logo, .navbar-alt .navbar__logo {
    position: fixed;
    top: 35px;
    left: 35px;
    background: #ebebeb;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    vertical-align: middle;
    transition: all 2s cubic-bezier(0.86, 0, 0.07, 1); }
    .navbar__logo--image {
      width: 200px;
      height: 200px;
      margin: 25px;
      transition: all 2s cubic-bezier(0.86, 0, 0.07, 1); }

.navbar-alt {
  height: 60px;
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); }
  .navbar-alt ul li {
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    animation: textupAlt 1s cubic-bezier(0.86, 0, 0.07, 1) forwards; }
  .navbar-alt .navbar__logo {
    width: 100px;
    height: 100px;
    top: 0;
    transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1); }
  .navbar-alt .navbar__logo--image {
    width: 75px;
    height: 75px;
    margin: 12px;
    transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1); }

@keyframes textup {
  0% {
    top: 20px; }
  100% {
    top: 40px; } }
@keyframes textupAlt {
  0% {
    top: 40px; }
  100% {
    top: 20px; } }

/*# sourceMappingURL=screen.css.map */
