/* ===THEME=== */
/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
@import "//fonts.fontstorage.com/import/mintspirittwo.css";
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s ease-in-out;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s ease-in-out;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background: #ebebeb;
  font-size: 100%;
  font-family: 'Roboto', sans-serif; }

* {
  text-rendering: optimizeLegibility; }

h1, h2, h3 {
  font-size: 2.68em;
  line-height: 1.2em;
  margin: 10px 0 40px 0;
  line-height: normal;
  white-space: normal;
  font-family: 'Mint Spirit No2'; }

h2 {
  font-size: 1.3em;
  margin: 25px 0 25px 0; }

h3 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.5em;
  text-transform: none;
  margin: 20px 0 20px 0; }

p {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5em;
  margin: 30px 0 30px; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: #555555;
    cursor: pointer; }

.spacer, .spacer-white, .spacer-small {
  clear: both;
  margin: 120px 0;
  width: 100%;
  height: 100%; }
  .spacer div, .spacer-white div, .spacer-small div {
    font-family: 'Mint Spirit No2';
    max-width: 450px;
    text-align: center;
    color: #555555;
    font-size: 1em;
    margin: 0 auto;
    padding: 70px 70px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }

.spacer-white {
  background: #fff;
  margin: 60px 0; }

.spacer-small {
  margin: 30px; }

button:focus {
  outline: 0 !important; }

/* ===COMPONENTS=== */
/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s ease-in-out;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.contacts {
  background: #555555;
  margin-top: 100px; }
  .contacts__text {
    margin: 20px auto;
    max-width: 320px; }
  .contacts h1, .contacts h2, .contacts h3 {
    text-align: center;
    color: #ebebeb; }
  .contacts p {
    text-align: left;
    color: #ebebeb;
    padding-bottom: 10px; }

.texter {
  font-size: 0.8em;
  text-align: center;
  margin: 0 auto;
  max-width: 450px; }

/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s ease-in-out;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.services {
  margin-top: 120px; }
  .services h1, .services h2, .services h3 {
    text-align: right; }
  .services h2 {
    text-align: left; }
  .services p {
    font-size: 1em;
    margin-top: 0; }
  .services__showcase, .services__showcase--small {
    width: 100%; }
  .services__label {
    color: #ebebeb;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    padding: 35px; }
  .services__left, .services__right {
    height: 100px;
    background-color: #ebebeb;
    color: #555555;
    font-size: 4em;
    user-select: none;
    opacity: .7; }
    .services__left:hover, .services__right:hover {
      color: #fff;
      cursor: pointer;
      opacity: 1; }

/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s ease-in-out;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.usecase {
  margin-top: 120px; }
  .usecase h1, .usecase h2, .usecase h3 {
    text-align: right; }
  .usecase h2 {
    text-align: left; }
  .usecase p {
    font-size: 1em; }
  .usecase__showcase, .usecase__showcase--small {
    width: 100%;
    margin-bottom: 60px; }
  .usecase__text {
    margin-top: 35px; }
  .usecase__label {
    color: #ebebeb;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    padding: 35px; }
  .usecase__left, .usecase__right {
    height: 100px;
    background-color: #ebebeb;
    color: #555555;
    font-size: 4em;
    user-select: none;
    opacity: .7; }
    .usecase__left:hover, .usecase__right:hover {
      color: #fff;
      cursor: pointer;
      opacity: 1; }

/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s ease-in-out;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.content {
  background: #fff; }

.decorPage {
  margin-top: 120px; }
  .decorPage h1, .decorPage h2, .decorPage h3 {
    text-align: right;
    margin-bottom: 100px; }
  .decorPage__item {
    border: 2px #555555 solid;
    height: 100px;
    opacity: .7;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
    font-size: 1.8em;
    vertical-align: middle;
    padding-top: 25px; }
    .decorPage__item:hover {
      cursor: pointer;
      opacity: 1; }

.decor__block p {
  font-size: 0.8em;
  margin-top: 15px; }
.decor__block--item {
  background-size: cover;
  background-position: center center;
  height: 300px;
  transition: background 2s cubic-bezier(0.86, 0, 0.07, 1); }
  .decor__block--item:hover {
    cursor: pointer;
    background-repeat: no-repeat; }
    .decor__block--item:hover background-color:rgba(17, 17, 17, .4)
    h2:after {
      display: block; }
  .decor__block--item h2 {
    color: #fff;
    position: absolute;
    bottom: 80px;
    left: 40px;
    font-size: 1.8em; }

#decor__block--ladder {
  background: url("../img/decor_lestnica2.jpg") no-repeat; }

#decor__block--fireplace {
  background: url("../img/decor_kamin3.jpg") no-repeat; }

#decor__block--table {
  background: url("../img/decor_stol.jpg") no-repeat; }

#decor__block--accsess {
  background: url("../img/decor_accses.jpg") no-repeat; }

#decor__block--floor {
  background: url("../img/decor_oblicovka_pola.jpg") no-repeat; }

#decor__block--paint {
  background: url("../img/decor_paint8.jpg") no-repeat; }

/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s ease-in-out;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.hero, .company {
  margin-top: 60px;
  height: 640px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/decor_kitchen.jpg"); }
  @media (max-width: 768px) {
    .hero, .company {
      height: 720px;
      background-repeat: no-repeat;
      background-size: contain; } }
  .hero__textblock, .company__textblock {
    background: #fff;
    margin-top: 120px;
    padding: 35px 35px 50px 35px; }
    @media (max-width: 768px) {
      .hero__textblock, .company__textblock {
        margin-top: 295px; } }
    .hero__textblock p, .company__textblock p {
      line-height: 2em;
      font-size: 0.8em; }
  .hero__button, .company__button {
    cursor: pointer;
    margin-top: 24px;
    padding: 20px 40px;
    background: transparent;
    color: #222222;
    border-radius: 0;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: color 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    text-transform: uppercase;
    letter-spacing: .1em;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
    .hero__button:before, .company__button:before {
      content: '';
      display: block;
      height: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background-color: #ebebeb;
      position: absolute;
      z-index: -20;
      transform: scaleY(0);
      transition: height 0.5s cubic-bezier(0.86, 0, 0.07, 1), transform 0.5s cubic-bezier(0.86, 0, 0.07, 1); }
    .hero__button:hover, .company__button:hover {
      box-shadow: none;
      color: #555555; }
      .hero__button:hover:before, .company__button:hover:before {
        transform: scaleY(1); }

.company {
  margin-top: 0;
  background: #fff; }
  .company__textblock {
    margin-top: 120px; }
  .company__image {
    overflow: hidden;
    margin-top: 120px; }

.decor__block p {
  font-size: 0.8em;
  margin-top: 15px;
  min-height: 10px; }
.decor__block--item {
  background-size: 105%;
  background-position: center center;
  height: 450px;
  transition: all 1s ease-in-out; }
  .decor__block--item:hover {
    cursor: pointer;
    background-size: 100%; }
    .decor__block--item:hover h2:after {
      display: block; }
  .decor__block--item h2 {
    color: #fff;
    position: relative;
    top: 80%;
    left: 5%;
    font-size: 1.8em; }

#decor__block--ladder {
  background: url("../img/decor_lestnica2.jpg") no-repeat; }

#decor__block--fireplace {
  background: url("../img/decor_kamin3.jpg") no-repeat; }

#decor__block--table {
  background: url("../img/decor_stol.jpg") no-repeat; }

#decor__block--accsess {
  background: url("../img/decor_accses.jpg") no-repeat; }

#decor__block--floor {
  background: url("../img/decor_oblicovka_pola.jpg") no-repeat; }

#decor__block--paint {
  background: url("../img/decor_paint1.jpg") no-repeat; }

.services__block--item {
  background-image: url("../img/decor_kamin2.jpg");
  background-size: 105%;
  background-position: center center;
  background-origin: 10;
  height: 600px;
  transition: all 1s ease-in-out;
  margin-bottom: 40px; }
  .services__block--item:hover {
    cursor: pointer;
    background-size: 100%; }
    .services__block--item:hover h2, .services__block--item:hover p {
      opacity: 1; }
.services__block h2, .services__block p {
  transition: opacity 0.5s ease-in-out; }
.services__block h2 {
  color: #fff;
  position: absolute;
  bottom: 180px;
  left: 40px;
  font-size: 2.68em;
  opacity: 0; }
.services__block p {
  color: #fff;
  position: absolute;
  bottom: 115px;
  left: 40px;
  opacity: 0; }

#services__block--ladder {
  background: url("../img/decor_lestnica2.jpg") no-repeat;
  background-size: 100%; }

#services__block--fireplace {
  background: url("../img/decor_kamin4.jpg") no-repeat;
  background-size: 100%; }

#services__block--table {
  background: url("../img/decor_stol2.jpg") no-repeat;
  background-size: 100%; }

#services__block--floor {
  background: url("../img/decor_oblicovka_pola2.jpg") no-repeat;
  background-size: 100%; }

.footer {
  background-color: #222222;
  color: #ebebeb;
  height: 200px; }
  .footer__info {
    padding-left: 30px; }
    .footer__info h2 {
      padding-left: 20px; }
    .footer__info ul {
      list-style: none;
      padding: 0; }
      .footer__info ul li {
        display: inline-block;
        list-style: none;
        text-transform: uppercase;
        font-weight: light;
        padding: 20px 20px 20px 20px;
        transition: padding 0.5s cubic-bezier(0.86, 0, 0.07, 1); }
        .footer__info ul li a {
          color: #555555; }
  .footer__social {
    padding-left: 30px; }
    .footer__social--link {
      padding: 0 15px 0 0; }

/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
/* ===EASINGS=== */
/* ===TYPOGRAPHY=== */
/* ===MIXINS=== */
/* ===MISC=== */
/* ===PRELOADER=== */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #555555 no-repeat center center; }

.spinner {
  position: fixed;
  animation: scale 6s ease-in-out;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 999;
  width: 300px;
  height: 300px; }

@keyframes scale {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scaleX(1); } }
.navbar, .navbar-alt {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: #ebebeb;
  border: none;
  z-index: 666;
  transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1);
  font-family: 'Mint Spirit No2'; }
  @media (max-width: 768px) {
    .navbar, .navbar-alt {
      display: none; } }
  .navbar ul, .navbar-alt ul {
    list-style: none; }
    .navbar ul li, .navbar-alt ul li {
      display: inline-block;
      list-style: none;
      text-transform: uppercase;
      font-weight: light;
      animation: textup 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
      transition: padding 0.5s cubic-bezier(0.86, 0, 0.07, 1);
      position: relative;
      padding: 0 20px;
      left: -10px; }
      .navbar ul li a, .navbar-alt ul li a {
        color: #222222; }
  .navbar__logo, .navbar-alt .navbar__logo, .navbar__logo--mobile {
    position: fixed;
    top: 35px;
    left: 35px;
    background: #ebebeb;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    vertical-align: middle;
    transition: all 2s cubic-bezier(0.86, 0, 0.07, 1); }
    .navbar__logo--image {
      width: 200px;
      height: 200px;
      margin: 25px;
      transition: all 2s cubic-bezier(0.86, 0, 0.07, 1); }

.navbar-alt {
  height: 60px;
  background: rgba(85, 85, 85, 0.25);
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); }
  .navbar-alt ul li {
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    animation: textupAlt 1s cubic-bezier(0.86, 0, 0.07, 1) forwards; }
    .navbar-alt ul li a {
      color: #fff; }
  .navbar-alt .navbar__logo, .navbar-alt .navbar__logo--mobile {
    background: white;
    width: 60px;
    height: 60px;
    top: 0;
    transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1); }
  .navbar-alt .navbar__logo--image {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 100;
    margin: 0;
    transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1); }

.navbar-mobile {
  height: 60px;
  width: 100%;
  background: rgba(85, 85, 85, 0.25);
  position: fixed;
  z-index: 100;
  display: none; }
  @media (max-width: 768px) {
    .navbar-mobile {
      display: block; } }

.navbar__logo--mobile {
  background: white;
  width: 60px;
  height: 60px;
  z-index: 999;
  top: 0;
  transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1); }

.navbar__logo--image--mobile {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 101;
  margin: 0;
  transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1); }

@keyframes textup {
  0% {
    top: 20px; }
  100% {
    top: 40px; } }
@keyframes textupAlt {
  0% {
    top: 40px; }
  100% {
    top: 20px; } }
/* Icon 1 */
#nav-icon1 {
  z-index: 999;
  width: 60px;
  height: 45px;
  position: fixed;
  right: 0;
  top: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span {
  display: none;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #555555;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }
  @media (max-width: 768px) {
    #nav-icon1 span {
      display: block; } }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 10px; }

#nav-icon1 span:nth-child(3) {
  top: 20px; }

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 777;
  top: 0;
  left: 0;
  background: #ebebeb; }
  .overlay ul {
    list-style: none; }
    .overlay ul li {
      padding: 20px 0;
      font-size: 2.68em; }
      .overlay ul li a {
        color: #555555; }
        .overlay ul li a:hover {
          text-decoration: none;
          color: #222222; }

/*# sourceMappingURL=screen.css.map */
