@import "../theme/variables";

.contacts {
  background: $colorGrey;
  margin-top: 100px;

  &__text {
    margin: 20px auto;
    max-width: 320px;
  }

  h1 {
    text-align: center;
    color: $colorLightGrey;
  }

  p {
    text-align: left;
    color: $colorLightGrey;
    padding-bottom: 10px;
  }
}

.texter {
  font-size: $small;
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
}
