@import "../theme/variables";

.contacts {
  background: $colorGrey;
  margin-top: 100px;
  h1 {
    text-align: center;
    color:$colorLightGrey;
  }
  p {
    text-align: center;
    color:$colorLightGrey;
    padding-bottom: 35px;
  }

}

.texter {
  font-size: $small;
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
}
