@import "../theme/variables";


.services {
  h1 {
    text-align: right;
  }
  h2 {
    text-align: left;
  }
  p {
    font-size: $normal;
    margin-top: 0;
  }
  margin-top: 120px;
  &__showcase {
    width:100%;
    &--small {
      @extend .usecase__showcase;
    }
  }
  &__label {
    color: $colorLightGrey;
    font-size: $medium;
    text-transform: uppercase;
    text-align: center;
    padding: 35px;
  }
  &__left, &__right {
    height: 100px;
    background-color: $colorLightGrey;
    color: $colorGrey;
    font-size: $xxlarge;
    user-select:none;
    opacity:.7;
    &:hover{
      color:#fff;
      cursor:pointer;
      opacity:1;
    }
  }
}
